@model DAL.Question2

<div>
    <h4>Question2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Submit", "Edit", new { id = Model.QuestionID }) 
</p>
