
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Complete.</h2>
<div>
    <p>
        Thank you for the registration, An email has been sent to your register email please confirm to activate your account.
    </p>
</div>
