
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Request Denied</h1>
<h2 class="text-danger">You are not allowed to access this page.</h2>


