
<div class="jumbotron">
    <h2>Admin Panel</h2>
    <p class="lead">Welcome to admin panel of Verbal Test System</p>
</div>
<div class="row">
    <div class="col-md-4">
        <div align="center">
            <a href="@Url.Action("../Questions/Test/ViewAllTestPapers")">
                <div style="height:64px;width:64px;">
                    <img src="~/Images/Exam.png" />
                </div>
                Test Management
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div align="center">
            <a href="#">
                <div style="height:64px;width:64px;">
                    <img src="~/Images/desporto_listaclubesassociacoes.png" />
                </div>
                Results
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div align="center">
            <a href="@Url.Action("ViewAllUsers")">
                <div style="height:64px;width:64px;">
                    <img src="~/Images/updateprofile.png" style="width:64px;" />
                </div>
                Manage Users
            </a>
        </div>
    </div>
</div>
<br /><br /><br />
@*<div class="row">
        <div class="col-md-4">
            <div align="center">
                <a href="#">

                    <div style="height:64px;width:64px;">
                        <img src="~/Images/Exam.png" />
                    </div>
                    Take Test
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div align="center">
                <a href="#">
                    <div style="height:64px;width:64px;">
                        <img src="~/Images/desporto_listaclubesassociacoes.png" />
                    </div>
                    Results
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div align="center">
                <a href="#">
                    <div style="height:64px;width:64px;">
                        <img src="~/Images/updateprofile.png" style="width:64px;" />

                    </div>
                    Update Profile
                </a>
            </div>
        </div>
    </div>*@